################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Limnovoid/FileContentIndex
/.vs
/out/build/x64-Debug
